trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'

steps:
# Install .NET SDK
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '7.0.x'

# Restore NuGet packages
- task: NuGetCommand@2
  inputs:
    restoreSolution: '**/*.sln'

# Build solution
- task: VSBuild@1
  inputs:
    solution: '**/*.sln'
    configuration: '$(buildConfiguration)'

# Run tests (unit, integration, model)
- task: VSTest@2
  inputs:
    platform: 'any cpu'
    configuration: '$(buildConfiguration)'

# Publish artifacts for release
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
